/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    line-height: 1;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
ol{
    list-style-type: decimal;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}

/*fonts*/
@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato-Bold.ttf");

}
@font-face {
    font-family: "Lato-Medium";
    src: url("../fonts/Lato-Medium.ttf");
}
@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "Lato-Light";
    src: url("../fonts/Lato-Light.ttf");
}
@font-face {
    font-family: "Lato-Black";
    src: url("../fonts/Lato-Black.ttf");
}
@font-face {
    font-family: "Museo_Sans_500";
    src: url("../fonts/Museo_Sans_Cyrl_500.ttf");
}
@font-face {
    font-family: "Lato-Semibold";
    src: url("../fonts/Lato-Semibold.ttf");
}


/*style*/
body{
    font-size: 12px;
    color: rgb(25, 27, 29);
    font-family: "Lato-Regular", sans-serif;
}
.wrapper{
    width:100%;
}
.individual_header{
    background: url(../images/header-menu.png) no-repeat #ffffff center;
    background-size: cover;
}
header .backround_header .line_header{
    background: #ffffff;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .backround_header .line_header img{
    margin-right: 15px;
}
header .backround_header .line_header span{
    font-size: 18px;
    font-family: "Lato-Regular", sans-serif;
    color: rgb(20, 20, 20);
    line-height: 1.667;
}
header .backround_header .line_header>div a{
    display: flex;
    align-items: center;
}
header .backround_header .trapezoid{
    text-align: center;
    position: relative;
    bottom: 53px;
}
header .backround_header .menu_parts{
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    bottom: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_black_loto{
    font-family: "Lato-Black", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2px;
    font-size: 10px;
}
header .backround_header .menu_parts a{
    font-size: 9px;
}
header .backround_header .menu_parts>span{
    margin-bottom: 25px;
}
header .backround_header .menu_parts .parts{
    position: relative;
    right: 13px;
}
header .backround_header .menu_parts .parts a{
    padding: 12px;
}
header .backround_header .menu_parts .parts a:hover{
    background: #006bbe;
    border-radius: 30px;
}
header .backround_header .slider_header{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    bottom: 23px;
    padding: 0 15px;
}
header .backround_header .slider_header .item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 356px;
}
header .backround_header .slider_header .back_item{
    display: flex;
    border-radius: 3px;
    background-color: rgba(25, 25, 25, 0.831);
    max-width: 857px;
    width: 100%;
    height: 317px;
    z-index: 300;
}
header .slick-list{
    z-index: 300;
}
.slick_button{
    display: flex;
    align-items: center;
}
header .backround_header .slider_header .item .back_item .img_item{
    max-width: 550px;
    width: 100%;
    position: relative;
    bottom: 10px;
    right: 70px;
    z-index: 9000;
}
header .backround_header .slider_header .item .back_item .cont_item{
    color: rgb(255, 255, 255);
    padding: 10px;
    position: relative;
    right: 13px;
}
.main_cont{
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.main_cont img{
    position: relative;
    top: 28px;
    left: 16px;
}
/*basic*/
.img_other_size{
    width: 100%;
    height: auto;
}
.index_up{
    font-size: 13px;
    vertical-align: super;
}
h1{
    font-size: 36px;
    font-family: "Lato-Bold", sans-serif;
    color: rgb(43, 43, 43);
    font-weight: bold;
    line-height: 0.667;
    text-align: center;
    margin-bottom: 20px;
}
h1 span{
    font-family: "Lato-Light", sans-serif;
    font-weight: normal;
}
h2{
    font-size: 18px;
    font-family: "Lato-Light", sans-serif;
    color: rgb(3, 3, 3);
    line-height: 1.2;
    text-align: center;
}
h3{
    font-size: 23px;
    font-family: "Lato-Black", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.3;
}
h3 span{
    font-family: "Lato-Light", sans-serif;
}
h5{
    font-size: 18px;
    font-family: "Lato-Black", sans-serif;
    color: rgb(43, 43, 43);
    line-height: 0.889;
}
h3::after{
    content: url(../images/line.png);
    display: unset;
    position: relative;
    top: 12px;
    left: 9px;
}
.text_1{
    font-size: 12px;
    font-family: "Lato-Medium", sans-serif;
    color: rgb(25, 27, 29);
    line-height: 1.5;
    margin-top: 12px;
}
.text_center{
    text-align: center;
}
h4{
    font-size: 16px;
    font-family: "Lato-Black", sans-serif;
    color: rgb(43, 43, 43);
    line-height: 1.125;
}
.post_blue{
    font-size: 12px;
    font-family: "Lato-Regular", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    background-color: rgb(0, 107, 190);
    padding: 5px 14px;
    border-radius: 30px;
}
/*endbasic*/
.form_request{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form_request .form-group {
    position: relative;
    width: 90%;
    margin: 10px 0 20px;
}
header .form_request .form-group{
    width: 100%;
}
.form_request .form-group .form-label {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Lato-Light', sans-serif;
    z-index: 10;
    font-size: 16px;
    line-height: 1.2;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}
.form_request .form-group .form-label img{
    margin-right: 10px;
}
.form_request .form-group.focused .form-label {
    transform: translateY(-165%);
    font-size: 12px;
}
.form_request .form-group .form-input {
    position: relative;
    padding: 10px 0;
    width: 100%;
    outline: 0;
    border: 0;
    transition: box-shadow 150ms ease-out;
    font-family: 'Lato-Black', sans-serif;
    font-size: 18px;
    background: transparent;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(0, 107, 190);
    margin-top: 10px;
}
.form_request .success_request{
    width: 180px;
    padding: 15px;
    background-color: #006bbe;
    border: none;
    outline: 0;
    border-radius: 30px;
    cursor: pointer;
}
.form_request .check_agree .checkbox_success{
    display: none;
}
.form_request .checkbox_success_custom{
    position: relative;
    width: 17px;
    height: 17px;
    border: none;
    background: #4d4c4b;
    margin-right: 6px;
}
.checkbox_success:checked + .checkbox_success_custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    background: #ffffff;
    width: 5px;
    height: 5px;
    border: 2px solid #211f1e;
}
.form_request .check_agree{
    display: flex;
    margin-top: 24px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.navbar-header{
    display: flex;
    align-items: center;
    height: 80px;
    margin-top: 13px;
    border-top: 1px solid rgba(255, 255, 255, 0.149);
}
.navbar-header .container{
    position: relative;
    width: 100%;
    max-width: 1149px;
    margin: 0 auto;
    height: 100%;
}
.navbar-header .navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6px;
    height: 100%;
}
.navbar-header .navbar-nav li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-header .navbar-nav>li>a{
    font-size: 13px;
    font-family: "Lato-Regular", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    padding: 10px 20px;
    display: block;
    text-align: center;
}
.navbar-header .navbar-nav .active{
    background: #006bbe;
    border-radius: 30px;
}
.navbar-header .navbar-nav a:hover:not(.active):not(.submenu_href){
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(15, 15, 15, 0.459);
    box-shadow: 0.707px 0.707px 8px 0 rgba(0, 0, 0, 0.07);
    border-radius: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.submenu {
    display: none;
}
.navbar-header .navbar-nav .dropdown_menu:hover .submenu{
    display: block;
    position: absolute;
    top: 100%;
    background: #0a71c1;
    width: 100%;
    z-index: 9999;
}
.navbar-header .navbar-nav .dropdown_menu:hover .submenu .submenu_href{
    font-size: 14px;
    font-family: "Lato-Semibold", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.143;
}
.navbar-header .navbar-nav .dropdown_menu:hover .submenu li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: block;
    padding: 13px 27px;
}
.navbar-header .navbar-nav .dropdown_menu{
    position: relative;
}
main .advantages{
    background: url(../images/back_2.png) no-repeat #2b2f3a;
    background-size: cover;
    padding: 102px 15px 21px;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1283px;
    margin: 0 auto;
}
main .blocks_advantages{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main .blocks_advantages .item{
    max-width: 186px;
    padding: 30px 20px;
    margin-left: 70px;
    margin-bottom: 35px;
}
main .blocks_advantages .item:hover{
    cursor: pointer;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
}
main .blocks_advantages .item .img_item{
    margin-bottom: 14px;
    height: 51px;
    display: flex;
    align-items: center;
}
main .offer_success{
    background: url(../images/back_3.png) no-repeat rgb(25, 25, 25);
    background-size: cover;
}
main .offer_success_2{
    background: url(../images/back_4.png) no-repeat rgb(25, 25, 25);
    background-size: cover;
}
.form_right{
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
}
.form_offer{
    padding-top: 14px;
    max-width: 540px;
    background-color: #0E0E0E;
    opacity: 0.89;
    padding-bottom: 50px;
}
.form_right .form_offer .form_margin{
    margin-left: 76px;
}
.form_offer .form_request{
    margin-top: 37px;
}
.form_offer .form_request .form-group{
    margin: 10px 0 34px;
}
main .materials{
    padding: 106px 15px 87px;
    border-bottom: 1px solid rgba(78, 78, 78, 0.38);
}
main .materials .container{
    max-width: 1010px;
}
main .materials .text_1{
    font-size: 13px;
    line-height: 1.7;
    margin-top: 43px;
}
main .materials .block_partners{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
main .materials .block_partners img{
    margin-right: 10px;
}
main .professional{
    padding: 71px 0 78px;
}
main .text_of_company{
    display: flex;
    margin: 57px 0 52px;
}
main .text_of_company>div{
    width: 50%;
}
main .professional .container{
    max-width: 1118px;
}
.professional .info_main_man .img_history{
    border-bottom: 2px solid rgb(0, 107, 190);
    padding: 0 74px;
}
.text_of_company .img_history .main_man{
    width: 100%;
    max-width: 426px;
    margin: 0 auto;
    position: relative;
    top: 2px;
}
.text_of_company h4{
    margin: 10px 0 7px;
}
.text_of_company .cont_text p{
    font-size: 14px;
    font-family: "Lato-Regular", sans-serif;
    color: rgb(43, 43, 43);
    line-height: 1.714;
    margin-left: 47px;
    margin-bottom: 18px;
}
.text_of_company .cont_text:before{
    content: url(../images/quotes.png);
    display: block;
    position: relative;
    top: 12px;
    left: 9px;
}
.professional .persons_company{
    display: flex;
    justify-content: space-between;
}
.professional .persons_company .item{
    text-align: center;
}
.professional .persons_company .item h4{
    margin: 10px 0;
}
.offer_success_2 .form_offer{
    padding: 23px 17px 81px;
}
.reviews{
    background: url(../images/back_5.png) no-repeat rgb(25, 25, 25);
    background-size: cover;
    padding: 104px 0 126px;
}
.reviews .container{
    max-width: 1170px;
}
.reviews h1{
    color: rgb(255, 255, 255);
}
.reviews .slider_reviews{
    display: flex;
    margin-top: 55px;
}
.reviews .slider_reviews .item .speech{
    position: relative;
    width: 100%;
    max-width: 349px;
    cursor: pointer;
}
.reviews .slider_reviews .item .speech .text_speech{
    position: absolute;
    top: 10%;
    left: 0;
    width: auto;
    padding: 0 17px 0 36px;
}
.reviews .slick-prev{
    margin-right: 20px;
    align-items: flex-start;
    margin-top: 11%;
}
.reviews .slick-next{
    margin-left: 20px;
    align-items: flex-start;
    margin-top: 11%;
}
h6{
    font-size: 18px;
    font-family: "Lato-Black", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}
.reviews .slider_reviews .item .speech .text_1{
    color: rgb(255, 255, 255);
    line-height: 2;
    padding-right: 15px;
}
.reviews .reviews_persons{
    display: flex;
    margin: 18px 6px;
}
.reviews .reviews_persons .author_review{
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    justify-content: center;
}
.reviews .reviews_persons .author_review span{
    display: flex;
    align-items: center;
}
.reviews .reviews_persons .author_review span img{
    margin-right: 23px;
}
.reviews .reviews_persons .author_review span:first-child{
    font-size: 19px;
    font-family: "Lato-Regular", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 8px;
}
.reviews .reviews_persons .author_review span a{
    font-size: 14px;
    font-family: "Lato-Regular", sans-serif;
    color: rgb(37, 151, 239);
    text-decoration: underline;
    line-height: 1.2;
}
.plan_work{
    background: url(../images/back_6.png) no-repeat rgb(25, 25, 25);
    background-size: cover;
    padding: 104px 0 114px;
    border-bottom: 1px solid rgba(78, 78, 78, 0.38);
}
.plan_work .container, .our_houses .container{
    max-width: 1127px;
}
.plan_work .circle_task{
    display: flex;
    justify-content: space-between;
}
.plan_work .circle_task .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    position: relative;
}
.plan_work .circle_task .arrow_two:before{
    content: url(../images/arror_2.png);
    display: block;
    position: absolute;
    top: 112%;
    left: 90px;
}
.plan_work .circle_task .item span:first-child{
    font-size: 55px;
    font-family: "Lato-Bold", sans-serif;
    color: rgb(0, 107, 190);
    font-weight: bold;
    line-height: 0.383;
}
.plan_work .circle_task .item .comment_work {
    font-size: 16px;
    font-family: "Lato-Regular", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.125;
    text-align: center;
    margin-top: 21px;
}
.plan_work .circle_task .item .cont_img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted #4e4e4e;
    border-radius: 50%;
    margin-top: 30px;
    padding: 37px;
}
.plan_work .circle_task .item .cont_img .img_work{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plan_work .arrow{
    align-self: center;
    margin-top: 4%;
}
.plan_work .main{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.plan_work .level_2{
    margin: 75px 0 53px 30px;
    text-align: center;
}

.plan_work .level_2 .text_black_loto{
    padding: 17px 84px;
    background: #006bbe;
    border-radius: 30px;
    text-align: center;
}
.plan_work .stock{
    font-size: 24px;
    font-family: "Lato-Regular", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
}
.plan_work .stock span{
    font-family: "Lato-Black", sans-serif;
    color: #006bbe;;
}
.our_houses{
    padding: 60px 0 100px;
}
.houses_block{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    justify-content: center;
}
.houses_block .item{
    position: relative;
    width: 100%;
    max-width: 376px;
    margin-bottom: 12px;
}
.houses_block .item .descrip_house{
    position: absolute;
    left: 0;
    bottom: 4%;
    width: auto;
    padding: 0 17px 0 21px;
    font-size: 18px;
    font-family: "Lato-Black", sans-serif;
    color: rgb(32, 32, 32);
    line-height: 1.3;
}
.houses_block .item span span{
    font-size: 16px;
}
.our_houses .form_offer{
    margin-top: 6px;
}
.our_houses .form_offer .form_margin{
    margin-left: 22px;
}
.our_houses .container{
    max-width: 1180px;
}
.our_houses .level_3, .projects .level_3{
    text-align: center;
    margin-top: 71px;
}
.our_houses .level_3 .text_black_loto, .projects .level_3 .text_black_loto{
    background: #006bbe;
    padding: 18px 84px;
    border-radius: 30px;
}
footer{
    background: #191919;
    display: flex;
    padding: 3px 20% 37px;
    align-items: stretch;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: "Museo_Sans_500", sans-serif;
    flex-direction: row;
}
footer h6{
    font-size: 24px;
    font-family: "Museo_Sans_500", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.25;
}
footer>div{
    flex-basis: 15%;
}
footer .company_info{
    margin-left: 10px;
    margin-right: 10px;
}
footer .company_info .logo{
    margin-bottom: 10px;
}
footer span{
    font-size: 12px;
    font-family: "Museo_Sans_500", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    text-align: left;
}
footer .contacts{
    display: flex;
    flex-direction: column;
}
footer .contacts h6{
    margin-top: 35px;
    margin-left: 20px;
}
footer .contacts span:nth-child(2){
    margin-top: 19px;
    margin-left: 20px;
}
footer .contacts span:last-child{
    margin-top: 5px;
    margin-left: 20px;
}
footer .contacts span img{
    margin-right: 16px;
}
footer .address{
    margin-top: 35px;
    flex-basis: 13%;
    margin-right: 5%;
}
footer .address h6{
    margin-bottom: 19px;
}
header .menu_line{
    display: flex;
    width: 43%;
}
header .menu {
    display: none;
}
header .menu__links{
    display: none;
}
.portfolio{
    padding: 60px 0 52px;
}
.portfolio_2{
    padding: 10px 0 44px;
}
.context{
    padding: 58px 20px;
}
.context .container{
    max-width: 1158px;
}
.context .context_box{
    margin-top: 49px;
    display: inline-block;
}
.context .context_box .img_cont{
    max-width: 573px;
    width: 50%;
    float: left;
    margin: 0 4% 2% 0px;
}
.context .context_box .text_right{
    font-size: 14px;
    font-family: "Lato-Medium", sans-serif;
    color: rgb(3, 3, 3);
}
.context .context_box .text_right p{
    line-height: 1.786;
    margin-top: 20px;
}
.projects{
    padding: 52px 0 42px;
}
@media screen and (max-width: 1680px) {
    footer{
        padding: 3px 11% 37px;
    }
    footer>div{
        flex-basis: 24%;
    }
    footer .address{
        flex-basis: 24%;
    }
}
@media screen and (max-width: 1244px){
    .form_right{
        margin-right: 0;
    }
    .offer_success_2 .form_offer {
        padding: 23px 62px 81px 17px;
    }
    .professional .persons_company{
        padding: 0 15px;
    }
    main .text_of_company{
        margin: 57px 20px 52px;
    }
    header .backround_header .line_header{
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (max-width: 1188px){
    .reviews .container {
        max-width: 862px;
    }
    .reviews .slick-next{
        margin-left: 0;
    }
}
@media screen and (max-width: 1110px) {
    .plan_work .main{
        flex-direction: row;
        justify-content: center;
    }
    .plan_work .circle_task{
        flex-direction: column;
    }
    .plan_work .arrow{
        transform: rotate(90deg);
        margin-top: 30px;
    }
    .plan_work .circle_task .arrow_two:before{
        content: url(../images/arror.png);
        top: 50%;
        left: 100%;
    }
    .plan_work .level_2{
        margin: 78px 0 53px;
    }
    .plan_work .level_1{
        max-width: 300px;
        margin-left: 62px;
        margin-top: 110px;
    }
    main .blocks_advantages .item{
         margin-left: 0;
    }
    header .backround_header .slider_header .item .back_item .img_item{
       position: static;
        width: 50%;
    }
    header .main_cont{
        margin-left: 10px;
    }
    header .backround_header .slider_header{
        max-width: 909px
    }
    header .slick-list{
        margin: 0 15px;
    }
    header .backround_header .slider_header .back_item{
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 888px){
    .reviews .container{
        max-width: 427px;
    }
    .reviews .slick-next, .reviews .slick-prev{
        margin-top: 127px;
    }
    header .backround_header .line_header .right_line, header .backround_header .line_header .left_line{
        display: none;
    }
}
@media screen and (max-width: 810px) {
    footer{
        padding: 3px 7% 37px
    }
    footer>div {
        flex-basis: 30%;
    }
    footer .address{
        margin-right: 0;
        flex-basis: 27%;
    }
    .professional .persons_company{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .professional .persons_company .item{
        margin-top: 20px;
    }
    main .text_of_company{
        flex-direction: column;
        align-items: center;
    }
    main .text_of_company>div{
        width: auto;
    }
    .text_of_company .cont_text p{
        text-indent: 33px;
        text-align: justify;
        margin-left: 10px;
    }
}
@media screen and (max-width: 664px){
    .navbar-header{
        display: none;
    }
    header .menu {
        top: 15px;
        right: 10%;
        width: 20px;
        height: 20px;
        position: absolute;
        display: block;
    }
    .menu__links {
        display: none;
        background: #ffffff;
        z-index: 1000;
        overflow: auto;
        width: 300px;
        margin: 0 auto;
    }
    .menu__icon {
        display: inline-block;
        width: 30px;
        height: 35px;
        position: relative;
        cursor: pointer;
    }
    .menu__icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #006bbe;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .menu__icon span:nth-child(1) {
        top: 0;
    }
    .menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
        top: 10px;
    }
    .menu__icon span:nth-child(4) {
        top: 20px;
    }
    .menu.menu_state_open .menu__icon span:nth-child(1) {
        top: 18px;
        width: 0;
        left: 50%;
    }

    .menu.menu_state_open .menu__icon span:nth-child(2) {
        transform: rotate(45deg);
    }

    .menu.menu_state_open  .menu__icon span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .menu.menu_state_open  .menu__icon span:nth-child(4) {
        top: 18px;
        width: 0;
        left: 50%;
    }
    .backround_header{
        position: relative;
    }
    .menu_state_open.menu__links {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 53px;
        right: 0;
    }
    .menu_state_open.menu__links a{
        color: rgb(32, 32, 32);
        text-transform: uppercase;
        line-height: 2.143;
        font-size: 14px;
        font-family: "Museo_Sans_500", sans-serif;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid rgba(78, 78, 78, 0.38);;
    }
    .menu_state_open.menu__links a:hover{
        color: #2774b9;
    }
    header .backround_header .trapezoid img{
        width: 70%;
    }
}
@media screen and (max-width: 628px){
    header .backround_header .slider_header .item .back_item .img_item{
        display: none;
    }
    header .main_cont{
        margin-top: 0;
    }
    header .backround_header .slider_header{
        max-width: 406px;
    }
    header .backround_header .slider_header .item{
        padding: 10px;
    }
    header .slick-list{
        margin: 0;
    }
    header .backround_header .slider_header .item .back_item .cont_item{
        position: static;
    }
}
@media screen and (max-width: 584px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer .company_info .logo {
        text-align: center;
    }
    footer .contacts {
        display: block;
        text-align: center;
    }
    footer .contacts h3 {
        margin-bottom: 20px;
    }
    footer .address, footer .company_info {
        text-align: center;
    }
    footer .contacts span:nth-child(2) {
        margin-left: 0;
    }
    .plan_work .level_2 .text_black_loto{
        padding: 17px 10%;
    }
    .our_houses{
        padding: 60px 15px 100px;
    }
    main .professional {
        padding: 71px 15px 78px;
    }
    header .backround_header .menu_parts .parts{
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0;
    }
}
@media screen and (max-width: 430px){
    .reviews .container{
        width: 319px;
    }
    .reviews .slider_reviews .item .speech img{
        width: 100%;
        height: auto;
    }
    .reviews .slider_reviews .item .speech .text_speech{
        top: 4%;
        padding: 0 7px 0 9px;
    }
    .reviews .slider_reviews .item .speech .text_1{
        line-height: 1.4;
        margin-top: 3px;
        padding-right: 2px;
    }
    .reviews h6{
        font-size: 15px;
    }
    .reviews .slick-next, .reviews .slick-prev{
        margin-top: 73px;
    }
    .reviews .slick-next{
        margin-left: 5px;
    }
    .reviews .slick-prev{
        margin-right: 10px;
    }
    .reviews .reviews_persons .author_review span img{
        margin-right: 5px;
    }
    .reviews .reviews_persons .author_review span a{
        font-size: 11px;
    }
    .form_right .form_offer .form_margin{
        margin-left: 13px;
    }
    .form_offer{
        padding: 23px 10px 81px 17px;
    }
}
@media screen and (max-width: 400px){
    .plan_work .level_1{
        display: none;
    }
    .plan_work .circle_task .arrow_two:before{
        display: none;
    }
    .professional h1{
        font-size: 32px;
    }
}
@media screen and (max-width: 360px) {
    .our_houses .houses_block .item .descrip_house{
        bottom: 10px;
    }
    .our_houses .form_offer .form_margin{
        margin-left: 7px;
    }
    .our_houses .level_3 .text_black_loto, .projects .level_3 .text_black_loto{
        padding: 18px 10%;
    }
}
