/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
ol{
    list-style-type: decimal;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}

/*fonts*/
@font-face {
    font-family: "Museo_Sans_900";
    src: url("../fonts/Museo_Sans_Cyrl_900.ttf");

}
@font-face {
    font-family: "Museo_Sans_100";
    src: url("../fonts/Museo_Sans_Cyrl_100.ttf");
}
@font-face {
    font-family: "Museo_Sans_500";
    src: url("../fonts/Museo_Sans_Cyrl_500.ttf");
}



/*style*/
body{
    font-size: 13px;
    color: rgb(101, 101, 101);
    font-family: "Museo_Sans_500";
}
.wrapper{
    width:100%;
}
.home_header{
    background: url(../images/backround_1.png) no-repeat #08243c center;
    height: 782px;
}
.services_header{
    background: url(../images/backround_services.png) no-repeat #08243c center;
    height: 445px;
}
.arch_header{
    background: url(../images/backround_arch.png) no-repeat #08243c center;
    height: 445px;
}
.contact_header{
    background: url(../images/backround_contact.png) no-repeat #08243c center;
    height: 445px;
}
.company_header{
    background: url(../images/backround_company.png) no-repeat #08243c center;
    height: 445px;
    z-index: 200;
}
header .container{
    width: 100%;
    height: 100%;
}
header .container nav .backround_header .line_header{
    background: #08243c;
    opacity: 0.9;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .container nav .backround_header .trapezoid{
    border-top: 31px solid #08243c;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    height: 0;
    width: 188px;
    margin-left: 20.5%;
    opacity: 0.9;
}
header .container nav .backround_header .line_header ul a{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.143;
    text-align: left;
    font-size: 14px;
    font-family: "Museo_Sans_500";
}
header .container nav .backround_header .line_header ul a:hover{
    color: #2774b9;
}
header .container nav .backround_header .line_header ul li{
    margin-right: 4%;
}
header .container nav .backround_header .line_header ul li:last-child{
    top: 7px;
    left: 11px;
    position: relative;
}
header .container nav .backround_header .trapezoid .logo{
    position: relative;
    bottom: 80px;
    left: 11px;
}
header .container nav .backround_header .menu_line{
    display: flex;
    width: 43%;
}
header .container nav .backround_header .menu {
    display: none;
}
header .container .slider_header{
    top: 32%;
    display: flex;
}
header .container .slider_header .item{
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Museo_Sans_500";
    font-size: 64px;
}
.container .content_header{
    position: relative;
    top: 31%;
    left: 20%;
    max-width: 300px;
}
.company_header .container .content_header{
    max-width: 500px;
    top: 27%;
}
.arch_header .container .content_header{
    top: 24%;
}
header .container .slider_header .item h1{
    line-height: 0.469;
    margin-top: 25px;
}
header .container .slider_header .item p{
    font-size: 23px;
    font-family: "Museo_Sans_100";
    line-height: 1.304;
    width: 769px;
    margin-top: 3%;
}
header .container .slider_header .slick-arrow{
    border: none;
    position: relative;
    opacity: 0.7;
    height: 36px;
    width: 141px;
    top: 93px;
    background: url(../images/prev.png) no-repeat #08243c center;
    cursor: pointer;
    z-index: 70;
}
header .container .slider_header .slick-prev{
    left: 20%;
}
header .container .slider_header .slick-next{
    right: 20%;
    transform: rotate(179deg);
}
header .container .breadcrumbs{
    position: relative;
    bottom: 89px;
    left: 205px;
    display: table-cell;
    white-space: nowrap;
}
header .container .breadcrumbs span{
    font-size: 12px;
    font-family: "Museo_Sans_500";
    color: rgb(255, 255, 255);
    white-space: nowrap;
}
.menu__links{
    display: none;
}
.wrapper>.history{
    display: flex;
    flex-direction: column;
}
.container .about_company{
    background: #f3f3f3;
    font-family: "Museo_Sans_500";
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    font-size: 36px;
    color: rgb(18, 65, 103);
    line-height: 0.833;
}
.container .about_company>h2{
    margin-top: 3.4%;
    margin-left: 23px;
}

.container .about_company .work_icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.container .about_company .work_icons .icons_work{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 40px;
    flex-direction: row;
}
.container .about_company .icon_worker{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
}
.container .about_company .icon_worker span{
    font-size: 13px;
    color: rgb(101, 101, 101);
    line-height: 1.462;
    width: 346px;
    height: 106px;
    text-align: center;
    margin-top: 22px;
}
.container .about_company .trapezoid_01{
    border-bottom: 243px solid #ffffff;
    border-right: 119px solid transparent;
    height: 0;
    width: 15%;
    align-self: flex-end;
    display: block;
}
.container .about_company .trapezoid_02{
    border-bottom: 243px solid #ffffff;
    border-left: 119px solid transparent;
    height: 0;
    width: 15%;
    align-self: flex-end;
    display: block;
}
.container .history_company{
    padding: 100px 1% 20px 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.container .history_company .content_history{
    margin-top: 35px;
    width: 48%;
    display: block;
}
.container .history_company .content_history h2{
    margin-top: 16px;
    z-index: 5500;
    margin-right: 10%;
}
.container .history_company .content_history p{
    margin: 37px 27% 30px 8px;
    font-size: 13px;
    font-family: "Museo_Sans_500";
    color: rgb(101, 101, 101);
    line-height: 1.462;
    text-align: left;
}
.container .history_company .info_main_man{
    position: relative;
    bottom: 36px;
    width: 38%;
    right: 9.5%;
}
.container .history_company .img_history{
    border-bottom: 2px solid rgb(16, 42, 65);
}
.container .history_company .img_history .main_man{
    width: 100%;
    max-width: 426px;
    margin: 0 auto;
    position: relative;
    top: 2px;
}
.container .history_company .img_history .main_man img{
    width: 100%;
    height: auto;
}
.container .history_company .info_man h5, .management .person_man .item_man .info_man h5{
    font-size: 16px;
    font-family: "Museo_Sans_900";
    color: rgb(14, 46, 73);
    line-height: 1.125;
    margin-top: 10px;
    margin-bottom: 9px;
}
.container .history_company .info_man span, .management .person_man .item_man .info_man span{
    background-color: rgb(15, 42, 64);
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    border-radius: 11px;
}
.management .person_man .item_man p{
    font-size: 13px;
    font-family: "Museo_Sans_500";
    color: rgb(117, 117, 117);
    line-height: 1.462;
    text-align: left;
    margin-top: 18px;
}
.history .brands{
    background: #f5f5f5;
    padding: 7% 6% 7% 10%;
    display: flex;
    justify-content: center;
}
.company .licenses .brands{
    background: url(../images/backround_lic.png) no-repeat #ffffff center;
    padding: 6% 6% 6% 8%;
    z-index: 9000;
}
.history .brands .slider_brand{
    display: flex;
    width: 70%;
}
.company .licenses .slider_brand{
    height: 222px;
}
.history .brands .slider_brand .slick-arrow{
    border: none;
    position: relative;
    opacity: 0.7;
    height: 36px;
    width: 141px;
    top: 25px;
    cursor: pointer;
}
.licenses .brands .slider_brand .slick-arrow{
    top: 37%;
}
.licenses .brands{
    padding: 5% 6% 7% 10%;
}

.history .brands .slider_brand .slick-prev{
    right: 6%;
    background: url(../images/prevBlack.png) no-repeat center;
}
.history .brands .slider_brand .slick-next{
    background: url(../images/nextBlack.png) no-repeat center;
}
.history .brands .slider_brand .item{
    display: flex;
    justify-content: center;
}
.history .brands .slider_brand .slick-track{
    display: flex;
    align-items: center;
}
.wrapper .container .services_cont{
    display: flex;
    padding: 9px;
    justify-content: center;
}
.wrapper .container .services_block{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapper .container .services_block .item_services{
    width: 561px;
    height: 271px;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper .container .services_block .item_services h3{
    font-size: 28px;
    font-family: "Museo_Sans_500";
    color: rgb(255, 255, 255);
    line-height: 1.071;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .container .services_block .item_services  a{
    font-size: 12px;
    font-family: "Museo_Sans_500";
    color: rgb(255, 255, 255);
    line-height: 2;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    padding: 8px 52px;
    border-radius: 26px;
}
.wrapper .container .services_block .serv_1{
    background: url(../images/back_serv_1.png) no-repeat center; ;
}
.wrapper .container .services_block .serv_2{
    background: url(../images/back_serv_2.png) no-repeat center; ;
}
.wrapper .container .services_block .serv_3{
    background: url(../images/back_serv_3.png) no-repeat center; ;
}
.wrapper .container .services_block .serv_4{
    background: url(../images/back_serv_4.png) no-repeat center; ;
}
.wrapper .container .services_block .serv_5{
    background: url(../images/back_serv_5.png) no-repeat center; ;
}
.wrapper .container .services_block .serv_6{
    background: url(../images/back_serv_6.png) no-repeat center; ;
}
.wrapper .container .services_block .serv_7{
    background: url(../images/back_serv_7.png) no-repeat center; ;
}
.wrapper .container .services_block .serv_8{
    background: url(../images/back_serv_8.png) no-repeat center; ;
}
.wrapper .container .arch_cont .cont_yellow{
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*.wrapper .container .arch_cont .contents_arch{
    display: flex;
    flex-direction: column;
    align-items: center;
}*/
.wrapper .container .arch_cont .text_center{
    max-width: 1200px;
    padding: 3%;
}
.wrapper .container .arch_cont .cont_yellow p{
    font-size: 14px;
    font-family: "Museo_Sans_500";
    color: rgb(101, 101, 101);
    line-height: 1.4;
    text-align: left;
    margin-left: 36px;
    margin-bottom: 23px;
}
.wrapper .container .arch_cont .cont_white{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .container .arch_cont .cont_white h2{
    text-align: center;
    margin: 20px 0 15px 25px;
}
.wrapper .container .arch_cont .cont_white .text_center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .container .line_blue{
    background-color: rgb(26, 69, 106);
    display: block;
    width: 41px;
    height: 3px;
    margin: 0 0 23px 16px;
}
.wrapper .container .arch_cont .cont_white p{
    font-size: 14px;
    font-family: "Museo_Sans_500";
    color: rgb(101, 101, 101);
    line-height: 1.4;
    text-align: left;
    margin-left: 36px;
    margin-bottom: 23px;
}
.wrapper .container .arch_cont .cont_blue{
    background: #0b253c;
    padding: 4%;
}
.wrapper .container .arch_cont .cont_blue p{
    font-size: 24px;
    font-family: "Museo_Sans_500";
    color: rgb(255, 255, 255);
    line-height: 1.25;
    text-align: center;
}
.wrapper .container .licenses h2, .tech_box h2{
    text-align: center;
    margin-top: 4%;
}
.wrapper .container .licenses span, .tech_box .line_blue{
    margin: 10px auto 2% !important;
    z-index: 0;
}
.wrapper .container .contacts_block{
    display: flex;
    padding: 48px 0;
    justify-content: center;
}
.wrapper .container .contacts_block .feedback{
    max-width: 536px;
    margin-right: 3%;
}
.wrapper .container .contacts_block .feedback h2{
    margin-bottom: 46px;
}
.wrapper .container .contacts_block .feedback p{
    font-size: 14px;
    font-family: "Museo_Sans_500";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    margin-bottom: 10%;
}
.wrapper .container .contacts_block .feedback form{
    display: flex;
    flex-direction: column;
}
.wrapper .container .contacts_block .feedback form input[type=text]{
    height: 33px;
    width: 459px;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: "Museo_Sans_500";
    color: rgb(102, 102, 102);
    line-height: 2.143;
    padding: 0 15px;
}
.wrapper .container .contacts_block .feedback form textarea{
    font-size: 14px;
    font-family: "Museo_Sans_500";
    color: rgb(102, 102, 102);
    line-height: 2.143;
    padding: 16px 16px;
    resize: none;
    height: 168px;
}
.wrapper .container .contacts_block .feedback form button{
    background: #0b253c;
    font-size: 12px;
    font-family: "Museo_Sans_500";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
    border: none;
    text-decoration: none;
    margin-top: 37px;
    width: 129px;
    margin-left: 5px;
    padding: 7px;
    border-radius: 18px;
}
.wrapper .container .contacts_block .address{
    width: 600px;
}
.wrapper .container .contacts_block .address h2{
    margin-left: 20px;
    margin-bottom: 25px;
}
.wrapper .container .contacts_block .address .cities{
    margin-left: 25px;
    margin-bottom: 20px;
}
.wrapper .container .contacts_block .address .cities a{
    border: 2px solid #0b253c;
    font-size: 12px;
    font-family: "Museo_Sans_500";
    color: rgb(102, 102, 102);
    line-height: 1.5;
    text-align: center;
    padding: 7px 42px;
    border-radius: 18px;
    margin-right: 5px;
}
.wrapper .container .contacts_block .address .cities a:first-child{
    padding: 7px 33px;
}
.wrapper .container .contacts_block .address .cities a.active{
    background: #08243c;
    color: rgb(255, 255, 255);
}
.wrapper .container .contacts_block .address .adress_cont{
    font-size: 12px;
    font-family: "Museo_Sans_500";
    color: rgb(102, 102, 102);
    line-height: 1.5;
    text-align: left;
    margin-left: 25px;
}
.wrapper .container .contacts_block .address .adress_cont a{
    color: #4a7eae;
    text-decoration: underline;
}
.wrapper .container .contacts_block .address #map{
    width: 564px;
    margin-left: 25px;
    height: 494px;
    margin-top: 10px;
}
.wrapper .container .projects{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 73px;
    z-index: -600;
    background: #f3f3f3;
    padding: 10px 20px;
}
.wrapper .container .projects .cont_project{
    max-width: 598px;
    margin-right: 4%;
    margin-top: 95px;
    width: 60%;
}
.wrapper .container .projects .cont_project h2{
    font-size: 36px;
    font-family: "Museo_Sans_500";
    color: rgb(18, 65, 103);
    line-height: 1.111;
}
.wrapper .container .projects .cont_project p{
    font-size: 13px;
    font-family: "Museo_Sans_500";
    color: rgb(101, 101, 101);
    line-height: 1.462;
    text-align: left;
    margin-top: 34px;
}
.wrapper .container .projects .img_proj{
    max-width: 445px;
    width: 40%;
}
.wrapper .container .projects .img_proj img{
    width: 100%;
    height: auto;
}
.management{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}
.management h2{
    margin-bottom: 14px;
}
.management .person_man{
    display: flex;
    padding: 15px;
}
.management .person_man .item_man{
    padding: 0 15px;
    max-width: 321px;
    margin-right: 44px;
}
.management .person_man .item_man:hover{
    background: #f3f3f3;
    box-shadow: 8px 0px 31px #dfdfe0;
    cursor: pointer;
}
.management .person_man .item_man:last-child{
    margin-right: 0px;
}
.management .person_man .item_man .photo_man{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 2px;
}
.management .person_man .item_man .first_part_info{
    border-bottom: 2px solid rgb(16, 42, 65);
}
.management .person_man .item_man:first-child .photo_man{
    max-width: 288px;
    width: 99%;
}
.management .person_man .item_man:nth-child(2) .photo_man{
    max-width: 291px;
}
.management .person_man .item_man:nth-child(3) .photo_man{
    max-width: 241px;
    width: 83%;
}
.management .person_man .item_man .photo_man img{
    width: 100%;
    height: auto;
}
.management .person_man .item_man:last-child{
    position: relative;
    bottom: 5px;
    left: 12px;
}
.tech_box{
    padding-bottom: 4%;
}
.tech_box .car_tech{
    display: flex;
    align-items: center;
}
.tech_box .car_tech .cont_tech{
    background: #f3f3f3;
    box-shadow: 8px 0px 31px #dfdfe0;
    z-index: 500;
    padding: 50px 30px;
    position: relative;
    left: 21%;
}
.tech_box .car_img{
    width: 100%;
    max-width: 1029px;
}
.tech_box .car_img img{
    width: 100%;
    height: auto;
}
.tech_box .car_tech .cont_tech p{
    font-size: 14px;
    font-family: "Museo_Sans_500";
    color: rgb(117, 117, 117);
    line-height: 1.714;
}
.company .blue_rel{
    background-color: #153c5d;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.company .blue_rel a{
    border: 2px solid #ffffff;
    font-size: 18px;
    font-family: "Museo_Sans_500";
    color: rgb(255, 255, 255);
    line-height: 1.333;
    margin-right: 15px;
    width: 19%;
    height: 78px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
}
.company .blue_rel a img{
    margin-right: 17px;
}
footer{
    background: #0b253c;
    display: flex;
    padding: 3px 20% 37px;
    align-items: stretch;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: "Museo_Sans_500";
    flex-direction: row;
}
footer h3{
    font-size: 24px;
    font-family: "Museo_Sans_500";
    color: rgb(255, 255, 255);
    line-height: 1.25;
}
footer>div{
    flex-basis: 15%;
}
footer .company_info{
     margin-left: 10px;
    margin-right: 10px;
 }
footer .company_info .logo{
    margin-bottom: 10px;
}
footer span{
    font-size: 12px;
    font-family: "Museo_Sans_500";
    color: rgb(255, 255, 255);
    line-height: 1.333;
    text-align: left;
}
footer .contacts{
    display: flex;
    flex-direction: column;
}
footer .contacts h3{
    margin-top: 35px;
    margin-left: 20px;
}
footer .contacts span:nth-child(2){
    margin-top: 19px;
    margin-left: 20px;
}
footer .contacts span:last-child{
    margin-top: 5px;
    margin-left: 20px;
}
footer .contacts span img{
    margin-right: 16px;
}
footer .address{
    margin-top: 35px;
    flex-basis: 13%;
    margin-right: 5%;
}
footer .address h3{
    margin-bottom: 19px;
}
@media screen and (max-width: 1680px) {
    footer{
        padding: 3px 11% 37px;
    }
    footer>div{
        flex-basis: 24%;
    }
    footer .address{
        flex-basis: 24%;
    }
}
@media screen and (max-width: 1550px) {
    header .container .slider_header .slick-prev{
        left: 10%;
    }
    header .container .slider_header .slick-next{
        right: 10%;
    }
    .container .history_company .content_history{
        margin-top: 0px;
    }
    .container .history_company .content_history h2{
        margin-top: 0px;
    }
    .container .history_company .info_main_man{
        bottom: 0px;
    }
    .history .brands .slider_brand{
        width: 90%;
    }
}
@media screen and (max-width: 1400px){
    .tech_box .car_tech .cont_tech{
        left: 17%;
        width: 50%;
    }
    .tech_box .car_img{
        position: relative;
        right: 7%;
    }
}
@media screen and (max-width: 1200px) {
    .history .brands .slider_brand{
        width: 100%;
    }
    .history .brands{
        padding: 7% 4% 7% 8%;
    }
    .wrapper .container .contacts_block .address #map{
        width: 400px;
        height: 400px;
    }
    .wrapper .container .contacts_block .address {
        width: 442px;
    }

}
@media screen and (max-width: 1100px) {
    header .container .slider_header .slick-prev{
        left: 4%;
    }
    header .container .slider_header .slick-next{
        right: 4%;
    }
    .container .history_company{
        align-items: center;
    }
    .tech_box .car_tech .cont_tech{
        left: 8%;
        width: 90%;
    }
}
@media screen and (max-width: 1000px) {
    header .container nav .backround_header .trapezoid{
        margin-left: 12.5%;
    }
    header .container nav .backround_header .line_header ul {
        width: 57%;
    }
    header .container .slider_header .item p{
        width: 100%;
    }
    header .container .slider_header .item h1{
        line-height: 1;
    }
    .container .about_company .work_icons .icons_work{
        flex-direction: column;
    }
    .container .history_company{
        padding: 100px 1% 20px 10%;
    }
    .container .history_company .content_history{
        width: 64%;
    }
    .wrapper .container .contacts_block .address #map{
        width: 564px;
        height: 400px;
        margin: 0 auto;
    }
    .wrapper .container .contacts_block{
        flex-direction: column;
        align-items: center;
    }
    .wrapper .container .contacts_block .feedback form button{
        align-self: center;
        margin-bottom: 50px;
    }
    .wrapper .container .contacts_block .address, .wrapper .container .contacts_block .feedback{
        width: auto;
    }
    .wrapper .container .contacts_block .address h2,.wrapper .container .contacts_block .address .cities, .wrapper .container .contacts_block .address .adress_cont, .wrapper .container .contacts_block .address #map{
        margin-left: 0px;
    }
    .company .blue_rel a{
        width: 30%;
    }
    .management .person_man .item_man{
        margin-right: 10px;
    }
}
@media screen and (max-width: 810px) {
    header .container nav .backround_header .trapezoid{
        margin-left: 5.5%;
    }
    footer{
        padding: 3px 7% 37px
    }
    footer>div {
        flex-basis: 30%;
    }
    footer .address{
        margin-right: 0px;
        flex-basis: 27%;
    }
}
@media screen and (max-width: 764px) {
    header .container nav .backround_header .menu_line{
        display: none;
    }
    header .container nav .backround_header .menu {
        top: 15px;
        right: 10%;
        width: 20px;
        height: 20px;
        position: absolute;
        display: block;
    }

    .menu__links {
        display: none;
        background: #08243c;
        opacity: 0.9;
        z-index: 1000;
        overflow: auto;
        width: 188px;
        margin: 0 auto;
    }

    .menu__icon {
        display: inline-block;
        width: 30px;
        height: 35px;
        position: relative;
        cursor: pointer;
    }

    .menu__icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .menu__icon span:nth-child(1) {
        top: 0px;
    }

    .menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
        top: 10px;
    }

    .menu__icon span:nth-child(4) {
        top: 20px;
    }

    .menu.menu_state_open .menu__icon span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .menu.menu_state_open .menu__icon span:nth-child(2) {
        transform: rotate(45deg);
    }

    .menu.menu_state_open  .menu__icon span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .menu.menu_state_open  .menu__icon span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    .menu_state_open.menu__links {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .menu_state_open.menu__links a{
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 2.143;
        font-size: 14px;
        font-family: "Museo_Sans_500";
    }
    .menu_state_open.menu__links a:hover{
        color: #2774b9;
    }
    header .container nav .backround_header .trapezoid{
        margin: 0 auto;
    }
    .container .content_header{
        left: 0px;
        margin: 0 auto;
    }
    .arch_header .container .content_header{
        max-width: 100%;
    }
    .arch_header .container .content_header h1{
        font-size: 50px;
    }
    .container .content_header h1{
        text-align: center;
    }
    header .container .breadcrumbs span{
        white-space: normal;
    }
    header .container .breadcrumbs{
        white-space: normal;
    }
}
@media screen and (max-width: 690px) {
    .container .history_company{
        flex-direction: column;
        align-items: center;
        padding: 100px 30px;
    }
    .container .history_company .content_history{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .container .history_company .content_history h2{
         margin-right: 0px;
    }
    .container .history_company .content_history p {
        margin: 37px 11px 30px;
    }
    .container .history_company .info_main_man{
        position: static;
        width: 100%;
    }
    .wrapper .container .contacts_block .address #map{
        width: 400px;
        height: 350px;
    }
    .company .blue_rel{
        flex-direction: column;
        align-items: center;
    }
    .company .blue_rel a{
        margin-right: 0px;
        margin-bottom: 15px;
        width: 70%;
    }
    .company .blue_rel a img{
        margin-right: 17px;
    }
    .tech_box .car_tech{
        flex-direction: column;
    }
    .tech_box .car_tech .cont_tech{
        width: 73%;
        position: static;
        margin-top: 25px;
    }
    .tech_box .car_img{
        position: static;
        width: 83%;
        margin-top: 25px;
    }
}
@media screen and (max-width: 584px) {
    .container .about_company .trapezoid_01{
        display: none;
    }
    .container .about_company .trapezoid_02{
        display: none;
    }
    .container .about_company>h2{
        text-align: center;
        margin: 25px 5px;
    }
    header .container .slider_header .item p{
        font-size: 18px;
    }
    header .container .slider_header .item h1{
        font-size: 50px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer .company_info .logo{
        text-align: center;
    }
    footer .contacts{
        display: block;
        text-align: center;
    }
    footer .contacts h3{
        margin-bottom: 20px;
    }
    footer .address, footer .company_info{
        text-align: center;
    }
    footer .contacts span:nth-child(2){
         margin-left: 0px;
    }
    .wrapper .container .services_block .item_services {
        width: 100%;
    }
    .wrapper .container .contacts_block .feedback form input[type=text]{
        width: 320px;
    }
    .wrapper .container .contacts_block .feedback form textarea{
        width: 320px;
    }
    .wrapper .container .contacts_block .feedback form{
        align-items: center;
    }
    .wrapper .container .contacts_block .feedback h2,
    .wrapper .container .contacts_block .feedback p,
    .wrapper .container .contacts_block .address h2,
    .wrapper .container .contacts_block .address .cities,
    .wrapper .container .contacts_block .address .adress_cont{
        text-align: center;
    }
    .management .person_man{
        flex-direction: column;
    }
    .management .person_man .item_man{
        margin-top: 25px;
    }
    .wrapper .container .projects .img_proj{
        display: none;
    }
    .wrapper .container .projects .cont_project{
        width: 90%;
        margin-right: 0px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 492px){
    .arch_header .container .content_header h1 {
        font-size: 37px;
    }
    .services_header .container .breadcrumbs, .contact_header .container .breadcrumbs{
        bottom: 58px;
        left: 69px;
    }
    .contact_header .container .breadcrumbs{
        left: 56px;
    }
    .arch_header .container .breadcrumbs{
        bottom: 58px;
        left: 0px;
        text-align: center;
    }
    .company_header .container .breadcrumbs{
        bottom: 58px;
        left: 49px;
    }
    .wrapper .container .contacts_block .feedback form input[type=text]{
        width: 250px;
    }
    .wrapper .container .contacts_block .feedback form textarea{
        width: 250px;
    }
    .wrapper .container .contacts_block .address #map{
        width: 250px;
        height: 200px;
    }
    .wrapper .container .contacts_block .address .cities{
        display: grid;
    }
    .wrapper .container .contacts_block .address .cities a{
        margin-bottom: 15px;
    }
    .contact_header h1, .company_header h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 360px) {
    .container .about_company .icon_worker span{
        width: 100%;
    }
    .container .about_company .icon_worker{
        padding: 3% 5px;
    }
    header .container .slider_header .item h1{
        font-size: 46px;
    }
    .arch_header .container .content_header h1 {
        font-size: 31px;
    }
}